{% extends 'layout.html' %}
{% block content %}
<div>

    <div class="jumbotron">
        <div class="container">
          <h4 class="display-5">Daily report for {{yearMonth}}</h4>
        </div>
    </div>

    <div style="overflow-x:auto;" class="container">

    <table style="width:100%">
      <tr>
        <th>Date</th>
        <th>Precipitation (in)</th>
        <th>Max Temperature (F)</th>
        <th>Min Temperature (F)</th>
        <th>Rained</th>
      </tr>

      {% for day in dailyReport %}
      <tr>
          <td>{{ day.DATE }}</td>
          <td>{{ day.PRCP }}</td>
          <td> {{ day.TMAX }}</td>
          <td>{{ day.TMIN }}</td>
          <td>{{ day.RAIN }}</td>
      </tr>
      {% endfor %}

    </table>

    </div>
</div> 

<style>
  table {
    margin-bottom: 30px;
  }
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(247, 245, 245);
  }
  tr:hover {background-color: #666565;}
</style>

{% endblock %}
 