<!doctype html>
<html>
   <body>
   
    
    <div class="container">
      <p>Monthly report for {{yearMonth}}</p>

      <table style="width:100%">
        <tr>
          <th>Date</th>
          <th>Precipitation</th>
          <th>Max Temperature</th>
          <th>Min Temperature</th>
          <th>Rained</th>
        </tr>

        {% for day in monthlyReport %}
        <tr>
            <td>{{ day.DATE }}</td>
            <td>{{ day.PRCP }}</td>
            <td> {{ day.TMAX }}</td>
            <td>{{ day.TMIN }}</td>
            <td>{{ day.RAIN }}</td>
        </tr>
        {% endfor %}
        
      </table>
    </div> 
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>